table, tr, th, td {
  border: 1;
  
}

body {
  width:90%;
}

th {
  vertical-align:center;
}

td {
    padding:5px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}

table {
  border:1px solid #c9daf8;
  max-width:850px;
  margin:auto;
}